
.screen {
    text-align:right;
    color: black;
    padding: 2vh;
    font-size: 3em;
    background-color: lightblue;
    border: solid 1px whitesmoke;
    border-radius: 1vh;
    height: 10vh;
    width: 65vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.d-flex{
    display:flex;
}
.center{
    justify-content: center;
}