
.myButtons-op {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    flex-wrap: wrap;
}

.button-op {
    width: 12vh;
    margin-top:1vh;
    color: #9381FF;
    padding: 2vh;
    font-size: 2em;
    border: solid 1px white;
    border-radius: 5vh;
    background-color:white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}